
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Free HTML5 CSS3 Responsive Login Signup Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link href="~/Content/css_Login/Style.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body>
    <div class="form">
        <div class="header"><h2>Sign In</h2></div>
        <div class="login">
            <form action="">
                <ul>
                    <li>
                        <span class="un"><i class="fa fa-user"></i></span><input type="text" required class="text" placeholder="User Name Or Email" />
                    </li>
                    <li>
                        <span class="un"><i class="fa fa-lock"></i></span><input type="password" required class="text" placeholder="User Password" />
                    </li>
                    <li>
                        <input type="submit" value="LOGIN" class="btn">
                    </li>
                    <li><div class="span"><span class="ch"><input type="checkbox" id="r"> <label for="r">Remember Me</label> </span> <span class="ch"><a href="#">Forgot Password?</a></span></div></li>
                </ul>
            </form>
            <div class="social">
                <a href="#"><div class="fb"><i class="fa fa-facebook-f"></i> &nbsp; Login With Facebook</div></a>
                <a href="#"><div class="tw"><i class="fa fa-twitter"></i> &nbsp;  Login With Twitter</div></a>
            </div>
        </div><br />
        <div class="sign">
            <div class="need">Need new account ?</div>
            <div class="up"><a href="">Sign Up</a></div>
        </div>
    </div>
</body>
</html>