USE [BOOKING_HOTEL]
GO
/****** Object:  Database [BOOKING_HOTEL]    Script Date: 11/14/2016 8:55:19 PM ******/
CREATE DATABASE [BOOKING_HOTEL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOKING_HOTEL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BOOKING_HOTEL.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BOOKING_HOTEL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BOOKING_HOTEL_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOKING_HOTEL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOKING_HOTEL]
GO
/****** Object:  Table [dbo].[ChinhSach]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChinhSach](
	[MaChinhSach] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachSan] [int] NULL,
	[ThoiGianNhanPhong] [varchar](5) NULL,
	[ThoiGianTraPhong] [varchar](5) NULL,
	[HuongDan] [nvarchar](100) NULL,
	[ChinhSachNhanTra] [nvarchar](500) NULL,
	[ChinhSachTreEm] [nvarchar](500) NULL,
	[BaiDauXe] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChinhSach] PRIMARY KEY CLUSTERED 
(
	[MaChinhSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTiet_DonDatPhong]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTiet_DonDatPhong](
	[MaDonDatPhong] [int] NOT NULL,
	[MaChiTietLoaiPhong] [int] NOT NULL,
	[SoPhong] [int] NULL,
	[ThanhTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTiet_DonDatPhong_1] PRIMARY KEY CLUSTERED 
(
	[MaDonDatPhong] ASC,
	[MaChiTietLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTiet_LoaiPhong]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTiet_LoaiPhong](
	[MaChiTietLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachSan] [int] NOT NULL,
	[MaLoaiPhong] [int] NOT NULL,
	[GiaPhong] [decimal](18, 0) NULL,
	[SoLuongToiDa] [int] NULL,
	[HinhAnh] [varchar](50) NULL,
	[SoLuongPhong] [int] NULL,
	[KhuyenMai] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChiTiet_LoaiPhong_1] PRIMARY KEY CLUSTERED 
(
	[MaChiTietLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DichVu]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DichVu](
	[MaKhachSan] [int] NOT NULL,
	[MaDichVu] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CT_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaKhachSan] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_TienIch]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_TienIch](
	[MaKhachSan] [int] NOT NULL,
	[MaTienIch] [int] NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CT_TienIch] PRIMARY KEY CLUSTERED 
(
	[MaKhachSan] ASC,
	[MaTienIch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[DiemDanhGia] [decimal](2, 1) NULL,
	[ThuocLoai] [nvarchar](10) NULL,
	[MaKhachSan] [int] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[MaDiaDiem] [int] IDENTITY(1,1) NOT NULL,
	[TenDiaDiem] [nvarchar](50) NULL,
 CONSTRAINT [PK_DiaDiem] PRIMARY KEY CLUSTERED 
(
	[MaDiaDiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[ThongTin] [nvarchar](100) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonDatPhong]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatPhong](
	[MaDonDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhanPhong] [datetime] NULL,
	[NgayTraPhong] [datetime] NULL,
	[MaKhachHang] [int] NULL,
 CONSTRAINT [PK_DonDatPhong] PRIMARY KEY CLUSTERED 
(
	[MaDonDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhAnh]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HinhAnh](
	[MaHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachSan] [int] NULL,
	[HinhAnh] [varchar](50) NULL,
 CONSTRAINT [PK_HinhAnh] PRIMARY KEY CLUSTERED 
(
	[MaHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [varchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachSan]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachSan](
	[MaKhachSan] [int] IDENTITY(1,1) NOT NULL,
	[MaDiaDiem] [int] NULL,
	[TenKhachSan] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[ThongTin] [nvarchar](1000) NULL,
	[Video] [varchar](100) NULL,
	[AnhBia] [varchar](50) NULL,
 CONSTRAINT [PK_KhachSan] PRIMARY KEY CLUSTERED 
(
	[MaKhachSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LienHe](
	[MaLienHe] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](30) NULL,
	[Email] [varchar](50) NULL,
	[ThongTinLienHe] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
	[ThongTin] [nvarchar](500) NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QuanTri](
	[MaQuanTri] [int] IDENTITY(1,1) NOT NULL,
	[Username_QT] [varchar](30) NULL,
	[Password_QT] [varchar](30) NULL,
	[Email_QT] [varchar](30) NULL,
	[MaQuyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuanTri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QuyenHan]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyenHan](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[TenQuyen] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TienIch]    Script Date: 11/14/2016 8:55:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienIch](
	[MaTienIch] [int] IDENTITY(1,1) NOT NULL,
	[TenTienIch] [nvarchar](50) NULL,
	[ThongTin] [nvarchar](100) NULL,
 CONSTRAINT [PK_TienIch] PRIMARY KEY CLUSTERED 
(
	[MaTienIch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ChinhSach]  WITH CHECK ADD  CONSTRAINT [FK_ChinhSach_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[ChinhSach] CHECK CONSTRAINT [FK_ChinhSach_KhachSan]
GO
ALTER TABLE [dbo].[ChiTiet_DonDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DonDatPhong_ChiTiet_LoaiPhong] FOREIGN KEY([MaChiTietLoaiPhong])
REFERENCES [dbo].[ChiTiet_LoaiPhong] ([MaChiTietLoaiPhong])
GO
ALTER TABLE [dbo].[ChiTiet_DonDatPhong] CHECK CONSTRAINT [FK_ChiTiet_DonDatPhong_ChiTiet_LoaiPhong]
GO
ALTER TABLE [dbo].[ChiTiet_DonDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_DonDatPhong_DonDatPhong] FOREIGN KEY([MaDonDatPhong])
REFERENCES [dbo].[DonDatPhong] ([MaDonDatPhong])
GO
ALTER TABLE [dbo].[ChiTiet_DonDatPhong] CHECK CONSTRAINT [FK_ChiTiet_DonDatPhong_DonDatPhong]
GO
ALTER TABLE [dbo].[ChiTiet_LoaiPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_LoaiPhong_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[ChiTiet_LoaiPhong] CHECK CONSTRAINT [FK_ChiTiet_LoaiPhong_KhachSan]
GO
ALTER TABLE [dbo].[ChiTiet_LoaiPhong]  WITH CHECK ADD  CONSTRAINT [FK_ChiTiet_LoaiPhong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[ChiTiet_LoaiPhong] CHECK CONSTRAINT [FK_ChiTiet_LoaiPhong_LoaiPhong]
GO
ALTER TABLE [dbo].[CT_DichVu]  WITH CHECK ADD  CONSTRAINT [FK_CT_DichVu_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[CT_DichVu] CHECK CONSTRAINT [FK_CT_DichVu_DichVu]
GO
ALTER TABLE [dbo].[CT_DichVu]  WITH CHECK ADD  CONSTRAINT [FK_CT_DichVu_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[CT_DichVu] CHECK CONSTRAINT [FK_CT_DichVu_KhachSan]
GO
ALTER TABLE [dbo].[CT_TienIch]  WITH CHECK ADD  CONSTRAINT [FK_CT_TienIch_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[CT_TienIch] CHECK CONSTRAINT [FK_CT_TienIch_KhachSan]
GO
ALTER TABLE [dbo].[CT_TienIch]  WITH CHECK ADD  CONSTRAINT [FK_CT_TienIch_TienIch] FOREIGN KEY([MaTienIch])
REFERENCES [dbo].[TienIch] ([MaTienIch])
GO
ALTER TABLE [dbo].[CT_TienIch] CHECK CONSTRAINT [FK_CT_TienIch_TienIch]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_KhachSan]
GO
ALTER TABLE [dbo].[DonDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DonDatPhong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonDatPhong] CHECK CONSTRAINT [FK_DonDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnh_KhachSan] FOREIGN KEY([MaKhachSan])
REFERENCES [dbo].[KhachSan] ([MaKhachSan])
GO
ALTER TABLE [dbo].[HinhAnh] CHECK CONSTRAINT [FK_HinhAnh_KhachSan]
GO
ALTER TABLE [dbo].[KhachSan]  WITH CHECK ADD  CONSTRAINT [FK_KhachSan_DiaDiem] FOREIGN KEY([MaDiaDiem])
REFERENCES [dbo].[DiaDiem] ([MaDiaDiem])
GO
ALTER TABLE [dbo].[KhachSan] CHECK CONSTRAINT [FK_KhachSan_DiaDiem]
GO
ALTER TABLE [dbo].[QuanTri]  WITH CHECK ADD  CONSTRAINT [FK_QuanTri_QuyenHan] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[QuyenHan] ([MaQuyen])
GO
ALTER TABLE [dbo].[QuanTri] CHECK CONSTRAINT [FK_QuanTri_QuyenHan]
GO
USE [master]
GO
